
@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="ltr" lang="en" class="no-outlines">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap全屏日历拖拽事件插件</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="~/Script/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Script/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Script/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Script/css/style.css" rel="stylesheet" />

    <script src="~/Script/js/jquery.min.js"></script>
    <script src="~/Script/js/jquery-ui.min.js"></script>
    <script src="~/Script/js/moment.min.js"></script>
    <script src="~/Script/js/fullcalendar.js"></script>
    <script src="~/Script/js/calendar.js"></script>
    <script src="~/Script/js/locale-all.js"></script>
</head>
<body>
    <div class="panel">
        <div class="panel-content">
            <div class="row">
                <!--<div class="col-lg-3 d-none d-lg-block">-->
                    <!-- Calendar Events Start -->
                    <!--<div class="calendar--events">
                        <h4 class="h4">拖拽事件</h4>
                        <div class="fc-events">
                            <div class="fc-event label-green">聚会</div>
                            <div class="fc-event label-orange">午餐</div>
                            <div class="fc-event label-blue">会议</div>
                            <div class="fc-event label-red">运动</div>
                        </div>
                        <label class="form-check">
                            <input type="checkbox" name="is_removeable" value="1" class="form-check-input"><span class="form-check-label">拖拽后移除</span>
                        </label>
                        <hr>
                        <h4 class="h4">创建事件</h4>
                        <ul class="calendar--event__colors">
                            <li class="label-green active"></li>
                            <li class="label-orange"></li>
                            <li class="label-blue"></li>
                            <li class="label-red"></li>
                            <li class="label-black"></li>
                            <li class="label-gray"></li>
                        </ul>
                        <form action="#" class="mt-4 pt-1">
                            <input type="text" class="form-control" placeholder="Event Title..." required>
                            <button type="submit" class="btn btn-danger btn-rounded mt-3">添加</button>
                        </form>
                    </div>
                </div>-->
                <div class="col-lg-12">
                    <div id="calendarApp" class="calendar--app"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
